*{
    margin: 0px;
    padding: 0px;
}

.cards{
    width: 20%;
    height: 60px;
    display: inline-block;
    background-color: #ffea00;
    border-radius: 5px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 10px black;
    
}
